Telegram-AI-Support-Bot.json
{
  "name": "Telegram AI Support Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "783e869e-bda2-48c6-aec6-79b0d2608436",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1104,
        128
      ],
      "webhookId": "telegram-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract incoming Telegram message data\nconst body = $input.item.json.body;\n\n// Handle if body is already parsed or needs parsing\nconst data = typeof body === 'string' ? JSON.parse(body) : body;\n\n// Extract message details\nconst messageData = {\n  chatId: data.message?.chat?.id,\n  userId: data.message?.from?.id,\n  username: data.message?.from?.username || data.message?.from?.first_name || 'Unknown',\n  firstName: data.message?.from?.first_name || '',\n  messageText: data.message?.text || '',\n  messageId: data.message?.message_id,\n  timestamp: new Date().toISOString()\n};\n\n// Return extracted data\nreturn {\n  json: messageData\n};"
      },
      "id": "42cdbe93-6f7c-4aff-9dc1-1284dea25f47",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple in-memory conversation history\n// For production, use Redis or a database\n\nconst userId = $json.userId;\nconst storageKey = `history_${userId}`;\n\n// Get history from workflow static data\nlet history = [];\n\nif ($getWorkflowStaticData('global')[storageKey]) {\n  history = JSON.parse($getWorkflowStaticData('global')[storageKey]);\n}\n\nreturn {\n  json: {\n    ...$json,\n    conversationHistory: history\n  }\n};"
      },
      "id": "f9b44a19-c6bb-424b-a396-57d4b638b3bb",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// FAQ Knowledge Base\nconst FAQs = [\n  {\n    keywords: ['hours', 'open', 'timing', 'schedule', 'when'],\n    answer: '🕐 We are open Monday-Friday: 9 AM - 6 PM, Saturday: 10 AM - 4 PM. Closed on Sundays.'\n  },\n  {\n    keywords: ['price', 'cost', 'pricing', 'fee', 'how much'],\n    answer: '💰 Our pricing starts at $49/month for the basic plan, $99/month for pro, and custom pricing for enterprise. Visit our website for detailed pricing.'\n  },\n  {\n    keywords: ['contact', 'email', 'phone', 'reach', 'call'],\n    answer: '📞 You can reach us at support@example.com or call +1-234-567-8900 during business hours.'\n  },\n  {\n    keywords: ['return', 'refund', 'money back', 'guarantee'],\n    answer: '💵 We offer a 30-day money-back guarantee. Contact our support team to initiate a refund.'\n  },\n  {\n    keywords: ['shipping', 'delivery', 'ship', 'deliver'],\n    answer: '📦 We ship worldwide. Domestic orders: 3-5 business days. International: 7-14 business days.'\n  },\n  {\n  keywords: ['hello', 'hi there', 'hey there', '/start'],\n  answer: '👋 Hello!...'\n}\n];\n\nconst userMessage = $json.messageText.toLowerCase();\nlet faqMatch = null;\n\n// Check if user message matches any FAQ\nfor (const faq of FAQs) {\n  if (faq.keywords.some(keyword => userMessage.includes(keyword))) {\n    faqMatch = faq.answer;\n    break;\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    faqMatch: faqMatch,\n    needsAI: !faqMatch\n  }\n};"
      },
      "id": "c4a00d1b-2114-4264-835c-d4487f7d0400",
      "name": "FAQ Knowledge Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.faqMatch}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5fc6943d-c776-4a83-8f21-4113760e53bb",
      "name": "Has FAQ Answer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82b29a5b-0aa0-4d9c-ab4b-22808541904d",
      "name": "FAQ Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format messages for OpenAI\nconst messages = [\n  {\n    role: 'system',\n  content: `You are a helpful customer support assistant.\n\nIMPORTANT: You have access to the conversation history. Use it confidently to answer questions about what the user has told you in this conversation.\n\nGuidelines:\n- Answer questions professionally and concisely\n- If the user mentioned something earlier (their name, preferences, etc.), use that information - don't say you don't have it\n- Only escalate if you genuinely cannot answer OR if it requires account-specific data NOT in the conversation (billing, technical account issues, etc.)\n- Keep responses under 200 words\n\nWhen to escalate:\n- Questions about account billing/charges\n- Technical issues requiring account access\n- Requests to modify account settings\n- Complex issues beyond general support\n\nWhen NOT to escalate:\n- Questions about things the user told you in this conversation\n- General product questions\n- Questions you can answer from conversation context\n\nIf you need to escalate, say: \"I'll need to escalate this to a human agent for accurate assistance.\"`\n  }\n];\n\n// Add conversation history (last 10 messages)\nif ($json.conversationHistory && $json.conversationHistory.length > 0) {\n  messages.push(...$json.conversationHistory.slice(-10));\n}\n\n// Add current user message\nmessages.push({\n  role: 'user',\n  content: $json.messageText\n});\n\nreturn {\n  json: {\n    ...$json,\n    messages: messages\n  }\n};"
      },
      "id": "751eb50f-47a3-48a4-8c73-2a0341f04af7",
      "name": "Format OpenAI Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.botResponse || '';\n\n// Check if AI wants to escalate\nconst escalationKeywords = [\n  'escalate',\n  'human agent',\n  'transfer',\n  'speak to someone',\n  'talk to human'\n];\n\nconst needsEscalation = escalationKeywords.some(keyword => \n  response.toLowerCase().includes(keyword)\n);\n\nreturn {\n  json: {\n    ...$json,\n    botResponse: response,\n    escalated: needsEscalation\n  }\n};"
      },
      "id": "a4ae10e7-c77d-49a6-99e3-461c562a0812",
      "name": "Check Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        240
      ]
    },
    {
      "parameters": {},
      "id": "edb8b158-7552-45ab-965f-beb40e644732",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        880,
        128
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const botResponse = $json.botResponse || $json.faqMatch;\nconst userId = $json.userId;\nconst userMessage = $json.messageText;\n\n// Get existing history\nlet history = $json.conversationHistory || [];\n\n// Add new messages\nhistory.push({\n  role: 'user',\n  content: userMessage\n});\n\nhistory.push({\n  role: 'assistant',\n  content: botResponse\n});\n\n// Keep only last 20 messages (10 exchanges)\nif (history.length > 20) {\n  history = history.slice(-20);\n}\n\n// Store in workflow static data\nconst storageKey = `history_${userId}`;\n$getWorkflowStaticData('global')[storageKey] = JSON.stringify(history);\n\nreturn {\n  json: {\n    ...$json,\n    botResponse: botResponse,\n    conversationHistory: history\n  }\n};"
      },
      "id": "0445aa2e-d57f-42ff-b678-a8c24970e172",
      "name": "Update Conversation History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8121356067:AAEbpRiY8SvwOV23anw6dU9cQLVHevrwCP4/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{$json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json[\"Bot Response\"]}}{{$json.Escalated ? '\\n\\n⚠️ This conversation has been escalated to a human agent. Someone will contact you shortly.' : ''}}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "673699df-f430-4448-ae2e-90c0c5388bc2",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        128
      ],
      "retryOnFail": false,
      "maxTries": 3,
      "waitBetweenTries": 600
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\", \"timestamp\": \"{{$json.timestamp}}\"}",
        "options": {}
      },
      "id": "3159b937-b0f7-4a33-a92a-9379abf22b07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{$json.messages}}"
            },
            {
              "name": "temperature",
              "value": "={{0.7}}"
            },
            {
              "name": "max_tokens",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        240
      ],
      "id": "32ecc0fe-1e88-4f13-8350-362713e31875",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q3tfLVoJhbXE3Xi5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Format OpenAI Messages').item.json;\nconst groqResponse = $json.choices[0].message.content;\n\nreturn {\n  json: {\n    ...previousData,\n    botResponse: groqResponse\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        240
      ],
      "id": "699047e1-3771-4f1e-91cb-616cdebf79cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1YCPahMRh6DlguOGnxRp-MgmDigHF4pjoE5CITa-0Ujo",
          "mode": "list",
          "cachedResultName": "Telegram Bot Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YCPahMRh6DlguOGnxRp-MgmDigHF4pjoE5CITa-0Ujo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YCPahMRh6DlguOGnxRp-MgmDigHF4pjoE5CITa-0Ujo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.timestamp}}",
            "User ID": "={{$json.userId}}",
            "User Message": "={{$json.messageText}}",
            "Username": "={{$json.username}}",
            "Bot Response": "={{$json.botResponse}}",
            "Escalated": "={{$json.Escalated}}",
            "chatId": "={{$json.chatId}}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Message",
              "displayName": "User Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bot Response",
              "displayName": "Bot Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalated",
              "displayName": "Escalated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageText",
              "displayName": "messageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversationHistory",
              "displayName": "conversationHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "faqMatch",
              "displayName": "faqMatch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "needsAI",
              "displayName": "needsAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "botResponse",
              "displayName": "botResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        128
      ],
      "id": "356c0439-cb94-47e7-a178-a1811b564e8c",
      "name": "Append or update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjrcHWkau2F2QzNc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "FAQ Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Knowledge Base": {
      "main": [
        [
          {
            "node": "Has FAQ Answer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has FAQ Answer?": {
      "main": [
        [
          {
            "node": "FAQ Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format OpenAI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OpenAI Messages": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Escalation": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Update Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation History": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e5fa45c-98de-416d-aaf5-759064c62e19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97e3d44635a959bc966353e7dea91d9dc4c944d971e3434231a778b9d73d2490"
  },
  "id": "SHp44D0ABoPJ0Xwz",
  "tags": []
}